In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Firstly let's look at the provided data.

In [9]:
df = pd.read_csv('../data/raw/ml-100k/u.data', sep = '\t', header=None, names=['user_id', 'item_id', 'rating', 'timestamp'])
print(df.shape)
df.head()

(100000, 4)

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

Now let's get some information about the items and users.

In [13]:
items = pd.read_csv('../data/raw/ml-100k/u.item', sep = '|', encoding = "ISO-8859-1", header=None)
items.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

from the information provided in the description of the u.item data, we cannot get a list of genres, let's look for them in u.genre

In [17]:
genres = pd.read_csv('../data/raw/ml-100k/u.genre', sep = '|', header=None)
genres

              0   1
0       unknown   0
1        Action   1
2     Adventure   2
3     Animation   3
4    Children's   4
5        Comedy   5
6         Crime   6
7   Documentary   7
8         Drama   8
9       Fantasy   9
10    Film-Noir  10
11       Horror  11
12      Musical  12
13      Mystery  13
14      Romance  14
15       Sci-Fi  15
16     Thriller  16
17          War  17
18      Western  18

We can set this values as column names of the last 19 columns of the items dataframe, also names of the first columns are provided in the desc of u.item.

In [27]:
genre_columns = [genre[0] for genre in genres.values]
cols = ['movie id', 'movie title', 'release date', 'video release date', 'IMDB URL']
cols = cols + genre_columns

In [29]:
items.rename(columns=dict(zip(items.columns, cols)), inplace=True)
items.head()

,movie id,movie title,release date,video release date,IMDB URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0